{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Procesos - TACAE{% endblock %}

{% block content %}
<div class="procesos-wrapper">
  <h2>Procesos Registrados</h2>
  <a href="{% url 'control_procesos:crear_proceso' %}" class="btn btn-create">Registrar Proceso</a>
  {% if procesos %}
    <table>
      <thead>
        <tr>
          <th>Proceso</th>
          <th>Carpeta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for p in procesos %}
        <tr>
          <td>{{ p.proceso }}</td>
          <td>{{ p.carpeta }}</td>
          <td>
            <a href="{% url 'control_procesos:ver_carpeta' p.id %}">Ver Carpeta</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay procesos registrados.</p>
  {% endif %}
</div>
{% endblock %}
